@import url(
  'https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap'
);

@import "./fontawesome.scss";

$max-width: 1500px;

$main-color-800:#f84548;
$main-color-700:#F75B5D;

$gray-800: #343A40;
$gray-600: #495057;
$gray-300: #868E96;
$gray-100: #E9ECEF;

$white: #ffffff;

* {
  scrollbar-width: thin;
  scrollbar-color: #979191 #ffffff;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #ffffff transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #979191;
  border-radius: 17px;
  
}

*:focus {
  outline: none;
}

::selection {
  color: $white;
  background: rgba($color: $main-color-700, $alpha: 0.85);
}

i {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}